In [3]:
def importlibrerias():

    '''Importacion de las librerias que seran módulos necesarios para el desarrollo el algoritmo de arboles de decisión en el desarrollo del laboratorio '''
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
print(importlibrerias.__doc__)

Importacion de las librerias que seran módulos necesarios para el desarrollo el algoritmo de arboles de decisión en el desarrollo del laboratorio

In [5]:
def carga():
    
    '''Cargar y leer el conjunto de datos de diabetes mediate la librería pandas'''
    
datos = pd.read_csv("Dataset of Diabetes.csv")
print(carga.__doc__)
datos

Cargar y leer el conjunto de datos de diabetes mediate la librería pandas

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [18]:
def selecC():
    
    '''Seleccionamos las colunma CLASS que contienen texto y sera transformada de forma numerica'''
    
print (datos.groupby("CLASS").size())
print(selecC.__doc__)

CLASS
N     102
N       1
P      53
Y     840
Y       4
dtype: int64
Seleccionamos las colunma CLASS que contienen texto y sera transformada de forma numerica

In [20]:
def selecG():

        '''Seleccionamos las colunma GENDER que contienen texto y sera transformada de forma numerica'''
print (datos.groupby("Gender").size())
print(selecG.__doc__)

Gender
F    434
M    565
f      1
dtype: int64
Seleccionamos las colunma GENDER que contienen texto y sera transformada de forma numerica